* {
    font-size: 64px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

button {
    width: 300px;
    height: 100px;
    border-radius: 8px;
}

.results-container {
    text-align: center;
    min-height: 300px;
}